body {
  background-image: linear-gradient(lightcyan, rgb(150, 172, 185));
}

.cstmdnone {
  display: none;
}

.cstmcenter {
  width: 30%;
  margin: auto;
}
.cstmcenterheading {
  width: fit-content;
  margin: auto;
}

.bgcstm {
  background-color: lightcyan;
}

.main {
  min-width: 400px;
}
